.pane{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background-color: #443627;
  gap: 5.5rem;
  min-height: 100vh;
}


.logo-icon img{
  width: 150px;
  height: 150px;
}

nav > div {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  padding: 2rem 1.5rem;
  gap: 0.5rem;

}

.logout-icon h2{
  color: white;
  font-size: 16px;
}

nav > div img{
  width: 25px;
  height: 25px;
}

nav > div a{
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: #ffcd59;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
}

nav > div a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: #fb8332;
    transition: width 0.3s ease;
}

nav > div a:hover::after{
    width: 100%;
}

nav > div a:hover {
    color: #d27f48;
}

.logout-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem 1.3rem;
  border-radius: 25px;
  gap: 0.5rem;
  position: absolute;
  bottom: 40px;
  background: linear-gradient(135deg, #9e030b 0%, #600307 100%);;

}

.logout-icon img{
  width: 30px;
  height: 30px;
}


.logout-icon:hover {
    background: linear-gradient(135deg, #ce9613 0%, #dd9d1e 100%);
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(37, 99, 235, 0.4);
    cursor: pointer;
}

.logout-icon:active {
    transform: translateY(0);
}

.loader {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: relative;
      animation: spin 1s linear infinite
    }
    .loader::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      inset: 0px;
      border-radius: 50%;
      border: 5px solid #FFF;
      animation: clipFix 2s linear infinite ;
    }


 @keyframes spin {
      100%   {transform: rotate(360deg)}
    }

/* Animations */
    @keyframes clipFix {
        0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
        25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
        50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
        75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
        100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
    }




