main
{
  background-image: url(../../assets/vintage-wallpaper-landing.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* This makes the image fill the entire element */
  background-position: center center; /* This centers the image */
  background-attachment: fixed; /* Keeps the image fixed while scrolling */
  box-shadow: 5px 5px 10px #888888;
  opacity: 90%;
  min-height: 99vh;
}

.message{
  position: relative;
  top: 18.75rem;
  left: 9.375rem;
  margin-left: 2.188rem;
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  font-size: 3.125rem;
  min-width: 0.938rem;
}
.contain{
  min-width:1px;
  word-wrap: break-word;
  text-align: center;
  text-shadow: 4px 4px 8px #000000;
}





